#bio-container {
  /* height: 95vh; */
  background-color: rgb(225, 225, 225);
  width: 100%;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 150px;
}

#info-container {
  display: flex;
  margin: 50px 3% 0 3%;
}

#left-bio {
  display: flex;
  flex: 3;
  border-right: 2px solid #ccc;
}

.wrapper {
  display: flex;
  width: 550px;
  height: 330px;
  margin-right: 0;
  padding-right: 5%;
  flex-direction: column;
}

#portrait-img {
  height: 330px;
}

.left-text {
  margin-left: 10%;
}

.bio-description {
  width: auto;
  font-size: 1.1rem;
  font-weight: 300;
  color: rgb(70, 70, 70);
  letter-spacing: 1px;
  line-height: 1.4;
}

.bio-btn {
  width: 112px;
  text-align: center;
  margin: 25px 10%;
  font-size: 1.2rem;
  padding: 10px;
  color: #3d3d3d;
  background-color: inherit;
  border: 2px solid #494949;
  transition: all 0.3s ease-out;
  font-weight: 500;
}

.bio-btn:hover {
  color: rgb(200, 200, 200);
  border-color: #476071;
  background-color: #476071;
  cursor: pointer;
}

.bio-btn:focus .bio-btn:active {
  color: rgb(200, 200, 200);
  border-color: #476071;
  background-color: #476071;
  outline: none;
}

#right-bio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex: 2;
}

#inner-rb {
  display: flex;
  /* width: 160px; */
  width: 80%;
  max-width: 430px;
  justify-content: center;
  flex-wrap: wrap;
}

.center-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-icon {
  margin: 10px 20px;
  font-size: 40px;
  color: rgb(80, 80, 80);
  transition: all 0.3s ease-out;
}

.skill-icon:hover {
  transform: scale(1.4);
}

.skill-icon:nth-child(1):hover {
  color: rgb(228, 77, 38);
}

.skill-icon:nth-child(2):hover {
  color: rgb(34, 174, 90);
}

.skill-icon:nth-child(3):hover {
  color: rgb(37, 75, 221);
}

.skill-icon:nth-child(4):hover {
  color: rgb(207, 182, 40);
}

.skill-icon:nth-child(5):hover {
  color: rgb(94, 105, 162);
}

.skill-icon:nth-child(6):hover {
  border-radius: 50%;
  color: rgb(61, 61, 61);
  background-color: rgb(38, 88, 134);
}

.skill-icon:nth-child(7):hover {
  color: rgb(79, 180, 207);
  /* background-color: rgb(58, 58, 58);
  border-radius: 50%; */
}

@media only screen and (max-width: 1100px) {
  #info-container {
    flex-direction: column;
    margin-left: 0;
  }

  #left-bio {
    justify-content: center;
    border-right: none;
    padding-bottom: 30px;
  }

  #right-bio {
    padding-top: 20px;
  }

  #inner-rb {
    width: 100%;
    max-width: 100%;
  }

  .center-icon {
    display: inline-flex;
  }
}

@media only screen and (max-width: 850px) {
  #left-bio {
    display: flex;
    flex-direction: column;
  }

  #portrait-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto 30px auto;
  }

  #bio-container {
    padding-bottom: 80px;
  }

  #left-bio {
    padding-bottom: 0;
  }

  .wrapper {
    height: auto;
    width: 100%;
    padding-right: 0;
  }

  .left-text {
    margin: 0;
    padding: 0 50px;
  }

  h3 {
    text-align: center;
  }

  .bio-description {
    text-align: center;
  }

  .bio-btn {
    margin: 25px auto;
  }
}
