#navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: sticky;
  z-index: 10;
  width: 100%;
  top: 0;
  padding: 0;
  margin: 0;
  background-color: hsl(204, 23%, 36%);
}

.item-list {
  flex: 1;
  padding: 0;
  margin: 0;
}

.nav-item {
  text-decoration: none;
  display: inline-flex;
  width: 80px;
  padding: 10px 3%;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
}

.nav-item:hover {
  background-color: rgb(49, 66, 80);
  padding: 10px 4%;
}

.nav-item a {
  font-size: 1.2rem;
  color: rgb(219, 219, 219);
  text-align: center;
  margin: 0 auto;
  font-weight: 400;
}

@media screen and (max-width: 510px) {
  .item-list {
    display: none;
  }

  #navbar {
    height: 43px;
  }
}
