#navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  z-index: 1000000;
  width: 100%;
  bottom: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
  /* hsl(204, 23%, 36%) */
}

.scrolled {
  background-color: #335f7c !important;
  position: fixed !important;
  top: 0;
  bottom: auto !important;
}

.item-list {
  flex: 1;
  padding: 0;
  margin: 0;
}

.nav-container_icon {
  padding: 0 30px;
}

.nav-icon {
  font-size: 1.5rem;
  color: rgb(219, 219, 219);
  margin: 0 10px;
}

.nav-item {
  text-decoration: none;
  display: inline-flex;
  width: auto;
  padding: 10px 3%;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
}

.nav-item:hover {
  background-color: rgb(49, 66, 80);
  padding: 10px 4%;
}

.nav-item a {
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
  color: rgb(219, 219, 219);
  text-align: center;
  margin: 0 auto;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .item-list {
    display: none;
  }

  .nav-container_icon {
    display: none;
  }

  #navbar {
    display: none;
  }
}
